.swal2-container {
    position: fixed !important;
    /* Garantiza que no dependa de otros estilos */
    z-index: 1060;
    /* Asegura que esté encima de otros elementos */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

